<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap, stylesheets, WP title and favicon load to avoid copy and paster.-->
<head>
    <%- include ('pieces/head')%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Use of ejs to avoid copy-pasting the whole header. -->
    <header>
        <%- include ('pieces/header')%>
    </header>
    <main>
        <div class="container-fluid">
            <!-- tittle of page -->
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h2 class="text-primary">Gestion de instalaciones</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <!-- search bar and button -->
                    <form class="p-0 d-inline-block" method="get" action="/instalaciones/gestion_instalacion.ejs"
                        id="find_instalacion_form">
                        <input class="search_text rounded-3" type="text" placeholder="Search.." name="search">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search" alt="Search icon"></i></button>
                    </form>
                    <!-- add installation button -->
                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#add_instalaciones">
                        A침adir
                    </button>
                    <!-- modal with form to add new installation -->
                    <div class="modal top fade" id="add_instalaciones" data-bs-backdrop="static">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    A침adir Instalacion
                                </div>
                                <form id="instalacion_form" method="post" action="/instalaciones/add_instalacion">
                                    <div class="modal-body container" id="add_instalacion_body">
                                        <!-- Nombre instalacion -->
                                        <div class="form-group row justify-content-center">
                                            <label for="instalacion_nombre"
                                                class="col-md-3 col-10 col-form-label text-truncate">
                                                Nombre instalacion: </label>
                                            <div class="col-md-7 col-10">
                                                <input type="text"
                                                    class="form-control form-control-sm rounded-4 text-truncate"
                                                    placeholder="Nombre de la instalacion" name="instalacion_nombre"
                                                    id="instalacion_nombre">
                                            </div>
                                        </div>
                                        <!-- Horario de apertura -->
                                        <div class="form-group row justify-content-center">
                                            <label for="horario_apertura"
                                                class="col-md-3 col-10 col-form-label text-truncate">
                                                Horario apertura: </label>
                                            <div class="col-md-7 col-10">
                                                <input type="time" class="form-control form-control-sm rounded-4"
                                                    name="horario_apertura" id="horario_apertura">
                                            </div>
                                        </div>
                                        <!-- Horario de cierre. -->
                                        <div class="form-group row justify-content-center"
                                            id="add_instalacion_close_time">
                                            <label for="horario_cierre"
                                                class="col-md-3 col-10 col-form-label text-truncate">
                                                Horario cierre: </label>
                                            <div class="col-md-7 col-10">
                                                <input type="time" class="form-control form-control-sm rounded-4"
                                                    name="horario_cierre" id="horario_cierre">
                                            </div>
                                        </div>
                                        <!-- Tipo de reserva. -->
                                        <div class="form-group row justify-content-center" id="add_instalacion_type">
                                            <label for="tipo_reserva"
                                                class="col-md-3 col-10 col-form-label text-truncate">
                                                Tipo de reserva: </label>
                                            <div class="col-md-7 col-10">
                                                <Select name="tipo_reserva" id="tipo_reserva"
                                                    class="form-select form-select-sm rounded-4 text-center text-truncate">
                                                    <option value="None">Seleccione el tipo de reserva</option>
                                                    <option value="individual">Individual</option>
                                                    <option value="colectivo">Colectivo</option>
                                                </Select>
                                            </div>
                                        </div>
                                        <!-- Aforo. -->
                                        <div class="form-group row justify-content-center" id="add_instalacion_aforo">
                                            <label for="aforo" class="col-md-3 col-10 col-form-label text-truncate">
                                                Aforo: </label>
                                            <div class="col-md-7 col-10">
                                                <input type="number"
                                                    class="form-control form-control-sm rounded-4 text-truncate"
                                                    value="1" min="1" placeholder="Numero de aforo permitido"
                                                    name="aforo" id="aforo" onkeydown="return false">
                                            </div>
                                        </div>
                                        <!-- Imagen. -->
                                        <div class="form-group row justify-content-center" id="add_instalacion_image">
                                            <div class="col-10">
                                                <input type="file" accept=".jpg,.jpeg,.png" name="instalacion_imagen"
                                                    id="instalacion_imagen"
                                                    class="form-control form-control-sm border border-3 rounded-end-4">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Submit/cancel buttons. -->
                                    <div class="modal-footer">
                                        <input type="submit" value="A침adir" class="btn btn-lg btn-outline-success"
                                            id="add_instalacion_submit_button"></input>
                                        <button type="reset" data-bs-dismiss="modal"
                                            class="btn btn-lg btn-outline-info">Cerrar</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- list of installations -->
        <% if (locals.dato) { %>
            <div class="container-fluid">
                <div class="row justify-content-center" id="instalacion_list">
                    <% dato.forEach(element=> { %>
                        <div class="col-md-4 col-sm-6 col-12 justify-content-center my-3 p-0"
                            id="instalacion_<%=element.id%>">
                            <div
                                class="offset-1 col-10 border border-3 border-info bg-lightyellow rounded-4  instalacion_bgc">
                                <div class="row justify-content-center mt-3"><%=element.nombre%></div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-7 col-12 p-0">
                                        <div
                                            class=" col-sm-10 col-11 my-3 mx-auto rounded-4 row justify-content-center">
                                            <img src="data:<%=element.imagen_tipo%>;base64,<%=element.imagen.toString('base64')%>"
                                                alt="Installation called <%=element.nombre%> picture" class="img-fluid rounded-4 instalacion_img">
                                        </div>
                                    </div>
                                    <!-- buttons -->
                                    <div
                                        class="col-sm-4 offset-sm-0 col-6 d-flex flex-column justify-content-center padding-left-0 my-2">
                                        <button type="button"
                                            class="btn btn-sm btn-success mt-sm-auto mt-2 text-truncate"
                                            data-bs-toggle="modal"
                                            data-bs-target="#instalacion_detalles_<%=element.id%>"><i
                                                class="fa fa-eye" alt="Eye icon"></i> Detalles</button>
                                        <button type="button"
                                            class="btn btn-sm btn-primary my-sm-auto my-2 text-truncate"
                                            data-bs-toggle="modal"
                                            data-bs-target="#instalaciones_modificar_<%=element.id%>"><i
                                                class="fa fa-gear" alt="Gear icon"></i> Modificar</button>
                                        <button type="button"
                                            class="btn btn-sm btn-danger mb-sm-auto mb-2 text-truncate eliminar_instalacion"
                                            id="eliminar_instalacion_<%=element.id%>">
                                            <i class="fa fa-trash" alt="Trash icon"></i> Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modals that contains each installation info and image -->
                        <div class="modal top fade" id="instalacion_detalles_<%=element.id%>" data-bs-backdrop="static">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Detalles
                                    </div>
                                    <div class="modal-body container">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-7 col-12 p-0">
                                                <div
                                                    class="row col-sm-10 col-11 my-3 mx-auto rounded-4 justify-content-center">
                                                    <img src="data:<%=element.imagen_tipo%>;base64,<%=element.imagen.toString('base64')%>"
                                                        alt="Installation called <%=element.nombre%> picture" class="img-fluid rounded-4">
                                                </div>
                                            </div>
                                            <div
                                                class="col-sm-4 offset-sm-0 col-6 d-flex flex-column justify-content-center padding-left-0 my-2">
                                                <p><i class="fa fa-building" alt="Building icon"></i> Nombre Instalaci칩n:
                                                    <%=element.nombre%>
                                                </p>
                                                <p><i class="fa fa-hourglass-1" alt="Hourglass with the sand at the top icon"></i> Apertura:
                                                    <%=element.horario_apertura%>
                                                </p>
                                                <p><i class="fa fa-hourglass-3" alt="Hourglass with the sand at the bottom icon"></i> Cierre: <%=element.horario_cierre%>
                                                </p>
                                                <p><i class="fa fa-map-pin" alt="Map pin icon"></i> Tipo reserva: <%=element.tipo_reserva%>
                                                </p>
                                                <p><i class="fa fa-group" alt="Group of people icon"></i> Aforo: <%=element.aforo%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-lg btn-outline-success"
                                            data-bs-dismiss="modal">Aceptar</button>
                                        <button type="button" class="btn btn-lg btn-outline-info"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal that have a form to update installation data -->
                        <div class="modal top fade" id="instalaciones_modificar_<%=element.id%>"
                            data-bs-backdrop="static">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Modificar <%=element.nombre%>
                                    </div>
                                    <form method="post" action="/instalaciones/modificar_instalacion"
                                        id="modificar_instalacion_form_<%= element.id %>">
                                        <div class="modal-body container mod_instalacion_body">
                                            <input type="text" name="instalacion_id" style="display:none;"
                                                value="<%= element.id %>">
                                            <!-- Nombre instalacion -->
                                            <div class="form-group row justify-content-center">
                                                <label for="m_instalacion_nombre_<%= element.id %>"
                                                    class="col-md-3 col-10 col-form-label text-truncate">
                                                    Nombre instalacion: </label>
                                                <div class="col-md-7 col-10">
                                                    <input type="text"
                                                        class="form-control form-control-sm rounded-4 text-truncate m_instalacion_nombre"
                                                        placeholder="Nombre de la instalacion"
                                                        name="m_instalacion_nombre"
                                                        id="m_instalacion_nombre_<%= element.id %>"
                                                        value="<%=element.nombre%>">
                                                </div>
                                            </div>
                                            <!-- Horario de apertura -->
                                            <div class="form-group row justify-content-center">
                                                <label for="m_horario_apertura_<%= element.id %>"
                                                    class="col-md-3 col-10 col-form-label text-truncate">
                                                    Horario apertura: </label>
                                                <div class="col-md-7 col-10">
                                                    <input type="time" class="form-control form-control-sm rounded-4"
                                                        name="m_horario_apertura"
                                                        id="m_horario_apertura_<%= element.id %>"
                                                        value="<%=element.horario_apertura%>">
                                                </div>
                                            </div>
                                            <!-- Horario de cierre. -->
                                            <div
                                                class="form-group row justify-content-center mod_instalacion_close_time">
                                                <label for="m_horario_cierre_<%= element.id %>"
                                                    class="col-md-3 col-10 col-form-label text-truncate">
                                                    Horario cierre: </label>
                                                <div class="col-md-7 col-10">
                                                    <input type="time" class="form-control form-control-sm rounded-4"
                                                        name="m_horario_cierre" id="m_horario_cierre_<%= element.id %>"
                                                        value="<%=element.horario_cierre%>">
                                                </div>
                                            </div>
                                            <!-- Tipo de reserva. -->
                                            <div class="form-group row justify-content-center">
                                                <label for="m_tipo_reserva_<%= element.id %>"
                                                    class="col-md-3 col-10 col-form-label text-truncate">
                                                    Tipo de reserva: </label>
                                                <div class="col-md-7 col-10">
                                                    <Select name="m_tipo_reserva" id="m_tipo_reserva_<%= element.id %>"
                                                        class="form-select form-select-sm rounded-4 text-center text-truncate">
                                                        <option value="<%=element.tipo_reserva%>">
                                                            <%=element.tipo_reserva%>
                                                        </option>
                                                        <% if (element.tipo_reserva==='individual' ) { %>
                                                            <option value="colectivo">Colectivo</option>
                                                            <%}else{ %>
                                                            <option value="individual">Individual</option>
                                                        <%};%>
                                                    </Select>
                                                </div>
                                            </div>
                                            <!-- Aforo. -->
                                            <div class="form-group row justify-content-center mod_instalacion_aforo">
                                                <label for="m_aforo_<%= element.id %>"
                                                    class="col-md-3 col-10 col-form-label text-truncate">
                                                    Aforo: </label>
                                                <div class="col-md-7 col-10">
                                                    <input type="number"
                                                        class="form-control form-control-sm rounded-4 text-truncate"
                                                        value="<%=element.aforo%>" min="1" max="36"
                                                        placeholder="Numero de aforo permitido" name="m_aforo"
                                                        id="m_aforo_<%= element.id %>">
                                                </div>
                                            </div>
                                            <!-- Imagen. -->
                                            <div class="form-group row justify-content-center modinstalacion_image">
                                                <div class="col-10">
                                                    <input type="file" accept=".jpg,.jpeg,.png"
                                                        name="instalacion_imagen"
                                                        id="m_instalacion_imagen_<%= element.id %>"
                                                        class="form-control form-control-sm border border-3 rounded-end-4">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Submit/cancel buttons. -->
                                        <div class="modal-footer">
                                            <input type="submit" value="Modificar"
                                                class="btn btn-lg btn-outline-success mod_instalacion_submit_button"></input>
                                            <button type="reset" data-bs-dismiss="modal"
                                                class="btn btn-lg btn-outline-info">Cerrar</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%});%>
                </div>
            </div>
            <% } %>


    </main>
    <!-- Dynamically footer's inclusion. -->
    <footer>
        <%- include ('pieces/footer')%>
    </footer>
</body>
<!-- scripts of the page -->
<script src="/scripts/instalacionValidation.js"></script>
<script src="/scripts/instalaciones.js"></script>


</html>