<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap, stylesheets, WP title and favicon load. -->
    <head>
        <%- include ('pieces/head')%>
    </head>

    <body>
        <header>
            <!-- Include pieces of header -->
            <%- include ('pieces/header')%>
        </header>

        <main id="main">
            <!-- Login Form -->
            <div class="container my-5">
                <form id="login_form" method="POST" action="/usuario/login">
                   
                    <div class="form-group row my-2">

                        <!-- Email field -->
                        <label for="user_email"
                            class="text-center col-md-4 col-10 col-form-label login_field">
                            Correo electrónico: </label>
                        <div
                            class="offset-md-0 col-md-6 offset-sm-2 col-sm-7 offset-1 col-10">

                            <input type="text"
                                class="form-control form-control-sm reg_log_input"
                                name="user_email" id="user_email"
                                value= <%=locals.body? body["user_email"]:""%>>

                            <!-- If the email is not correct, a message will be shown. -->
                            <span class="popup_form_error text-danger text-center mx-auto"
                                id="mail_error">El
                                email introducido no es correcto. El formato
                                debe
                                ser "abcde@ucm.es".</span>

                            <!-- Server-side validation errors. -->
                            <% if (locals.errors && locals.errors["user_email"])
                            { %>
                            <span
                                class="text-danger popup_form_error"
                                style="display: inline-block;">
                                <%= errors["user_email"] %>
                            </span>
                            <% } %>

                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="form-group row my-2">
                        <label for="user_password"
                            class="text-center col-md-4 col-10 col-form-label login_field">
                            Contraseña: </label>
                        <div
                            class="offset-md-0 col-md-6 offset-sm-2 col-sm-7 offset-1 col-10">

                            <input type="password"
                                class="form-control form-control-sm reg_log_input"
                                name="user_password" id="user_password">
                            <!-- Button to toggle password's visibility. -->
                            <input type="checkbox" onclick="showPasswd()" class="my-2 mx-2">Mostrar Contraseña 

                            <!-- If there are any empty fields, a message will be shown. -->
                            <div class="popup_form_error text-danger"
                                id="empty_error">Todos
                                los campos deben estar rellenos.</div>
                            <!-- Server-side validation errors. -->
                            <% if (locals.errors)
                            { %>
                            <span
                                class="text-danger popup_form_error"
                                style="display: inline-block;">
                                <%= errors %>
                            </span>
                            <% } %>

                        </div>
                    </div>

            
                    <div class="send_buttons_cont my-4">
                        <!-- Submit form button -->
                        <input type="submit" value="ENVIAR"
                            class="send_buttons send_but">
                    <!-- Close form button and redirect to the main page. -->
                    <button type="button" class="send_buttons"
                        onclick="closeAndRedirect('/')">
                        CERRAR</button>
                </div>
                <!-- Link that takes the user to the registration page. -->
                <div class="my-3">
                    <a href="/admin/register" id="register_hint">¿Aún no tienes una
                        cuenta? <br> Regístrate aquí</a>
                </div>

            </div>
        </main>

        <footer>
            <!-- Include pieces of footer -->
            <%- include ('pieces/footer')%>
        </footer>

    </body>
    <!-- Our JavaScripts validation -->
    <script src="/scripts/loginValidation.js"></script>
    <!-- A little JavaScripts that catch an submit event and validate on client, if the validation fails, then stop the submit -->
    <script>
    document.getElementById('login_form').addEventListener('submit', function (event) {

        if (!validate()) {
            event.preventDefault();
        }
    });

</script>

</html>