<!-- piece that it´s use on advanced search page -->
<div class="container-fluid">
    <!-- list of users -->
    <div class="row justify-content-center" id="usuario_list">
        <% usuarios.forEach(element=> { %>
            <div class="col-md-4 col-sm-6 col-12 justify-content-center my-3 p-0">
                <div class="offset-1 col-10 border border-3 border-info bg-lightyellow rounded-4 list_usuario_bgc">
                    <div class="row justify-content-center">
                        <div class="col-sm-7 col-11 p-0">
                            <div
                                class="img-thumbnail col-sm-10 col-11 my-3 mx-auto rounded-4 row justify-content-center">
                                <span class="row justify-content-center mb-2 mt-1">
                                    <%=element.nombre%>
                                </span>
                                <% if (element.imagen_perfil===null) { %>
                                    <img src="/images/default_picture.jpg" alt="Default profile picture"
                                        class="img-fluid mb-2 list_usuario_img">
                                    <%}else{ %>
                                        <img src="data:img/png;base64,<%=element.imagen_perfil.toString('base64')%>"
                                            alt="User named <%=element.nombre%> profile picture"
                                            class="img-fluid mb-2 list_usuario_img">
                                        <%};%>
                            </div>
                        </div>
                        <!-- buttons with see details, statistics, become admin if the user not are admin and history options -->
                        <div
                            class="col-sm-4 offset-sm-0 col-6 d-flex flex-column justify-content-center padding-left-0 my-2">
                            <% if (element.es_admin===0 && element.validado===1) { %>
                                <button type="button" class="btn btn-sm btn-success mt-sm-auto my-1 text-truncate"
                                    data-bs-toggle="modal" data-bs-target="#usuario_detalles_<%=element.id%>"><i
                                        class="fa fa-eye" alt="Eye icon"></i> Detalles</button>
                                <button type="button"
                                    class="btn btn-sm btn-primary my-1 text-truncate estadistica_usuario"
                                    id="estadistica_usuario_button_<%=element.id%>" data-bs-toggle="modal"
                                    data-bs-target="#estadistica_usuario_<%=element.id%>"><i class="fa fa-bar-chart"
                                        alt="Bar chart icon"></i>
                                    Ver
                                    Estadistica</button>
                                <button type="button" class="btn btn-sm btn-info my-1 text-truncate hacer_admin_button"
                                    id="hacer_admin_button_<%=element.id%>"><i class="fa fa-rocket"></i>
                                    Hacer Admin</button>
                                <button type="button" id="historial_usuario_btn_<%=element.id%>"
                                    class="btn btn-sm btn-warning mb-sm-auto my-1 text-truncate historial_usuario"
                                    data-bs-toggle="modal" data-bs-target="#historial_usuario_<%=element.id%>">
                                    <i class="fa fa-history" alt="History icon"></i> Historial</button>
                                <%}else{ %>
                                    <button type="button" class="btn btn-sm btn-success mt-sm-auto mt-2 text-truncate"
                                        data-bs-toggle="modal" data-bs-target="#usuario_detalles_<%=element.id%>"><i
                                            class="fa fa-eye" alt="Eye icon"></i> Detalles</button>
                                    <button type="button"
                                        class="btn btn-sm btn-primary my-sm-auto my-2 text-truncate estadistica_usuario"
                                        id="estadistica_usuario_button_<%=element.id%>" data-bs-toggle="modal"
                                        data-bs-target="#estadistica_usuario_<%=element.id%>"><i class="fa fa-bar-chart"
                                            alt="Bar chart icon"></i>
                                        Ver
                                        Estadistica</button>
                                    <button type="button" id="historial_usuario_btn_<%=element.id%>"
                                        class="btn btn-sm btn-warning mb-sm-auto mb-2 text-truncate historial_usuario"
                                        data-bs-toggle="modal" data-bs-target="#historial_usuario_<%=element.id%>">
                                        <i class="fa fa-history" alt="History icon"></i> Historial</button>
                                    <%};%>

                        </div>
                    </div>
                </div>
            </div>
            <!-- modal with user details suck like user´s data and profile etc... -->
            <div class="modal top fade" id="usuario_detalles_<%=element.id%>" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            Detalles sobre <%=element.nombre%>
                        </div>
                        <div class="modal-body container">
                            <div class="row justify-content-center">
                                <div class="col-sm-7 col-12 p-0">
                                    <div class="row col-sm-10 col-11 my-3 mx-auto rounded-4 justify-content-center">
                                        <% if (element.imagen_perfil===null) { %>
                                            <img src="/images/default_picture.jpg" alt="Default profile picture"
                                                class="img-fluid">
                                            <%}else{ %>
                                                <img src="data:img/png;base64,<%=element.imagen_perfil.toString('base64')%>"
                                                    alt="User named <%=element.nombre%> profile picture"
                                                    class="img-fluid">
                                                <%};%>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-4 offset-sm-0 col-6 d-flex flex-column justify-content-center padding-left-0 my-2">
                                    <p><i class="fa fa-user-secret" alt="Guy disguised as a detective icon"></i> Nombre:
                                        <%=element.nombre%>
                                    </p>
                                    <p><i class="fa fa-user-plus" alt="Icon of a person with a plus symbol"></i>
                                        Apellido: <%=element.apellidos%>
                                    </p>
                                    <p><i class="fa fa-envelope" alt="Envelope icon"></i> Correo: <%=element.correo%>
                                    </p>
                                    <p><i class="fa fa-building" alt="Building icon"></i> Facultad:
                                        <%=element.facultadUser%>
                                    </p>
                                    <p><i class="fa fa-book" alt="Book icon"></i> Curso: <%=element.curso%>
                                    </p>
                                    <p><i class="fa fa-group" alt="Group of people icon"></i> Grupo: <%=element.grupo%>
                                    </p>
                                    <% if(element.validado){ %>
                                        <p><i class="fa fa-check" alt="Check icon"></i> Validado: Si
                                        </p>
                                    <% }else{ %>
                                        <p><i class="fa fa-check" alt="Check icon"></i> Validado: No
                                        </p>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row justify-content-md-end">
                                <div class="col-10 mx-sm-2">
                                    <button type="button" class="btn btn-lg btn-outline-success text-truncate"
                                        data-bs-dismiss="modal">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal with user book installation statistic -->
            <div class="modal top fade" id="estadistica_usuario_<%=element.id%>" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-truncate text-primary">
                            Estadistica del usuario: <%=element.nombre%>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-auto overflow-auto" id="chart_<%=element.id%>_container">
                                        <canvas id="chart_<%=element.id%>"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row justify-content-md-end">
                                <div class="col-10 mx-sm-2">
                                    <button type="button" class="btn btn-lg btn-outline-success text-truncate"
                                        data-bs-dismiss="modal">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal with user history -->
            <div class="modal top fade" id="historial_usuario_<%=element.id%>" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-truncate">
                            Historial de Reservas del usuario: <%=element.nombre%>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12 overflow-auto">
                                        <table class="table table-responsive table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-truncate" scope="col">Instalacion</th>
                                                    <th class="text-truncate" scope="col">Fecha Reserva</th>
                                                    <th class="text-truncate" scope="col">Hora Inicio</th>
                                                    <th class="text-truncate" scope="col">Hora Fin</th>
                                                    <th class="text-truncate" scope="col">Asistente</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_row_<%=element.id%>">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row justify-content-md-end">
                                <div class="col-10 mx-sm-2">
                                    <button type="button" class="btn btn-lg btn-outline-success text-truncate"
                                        data-bs-dismiss="modal">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%});%>
    </div>
</div>